@charset "utf-8";

body{
	font-size: 1.6rem;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, メイリオ, YuGothic, 游ゴシック, Helvetica, Arial, sans-serif;
	padding-top: 70px;
}

.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
