@charset "utf-8";
.breadcrumb{
	padding: 5px 0;
	margin-bottom: 10px;
	background-color: #d7d7d7;
}
.bread_ul{
	list-style: none;
	overflow: hidden;
    margin: 0;
    padding-left: 20px;
	li{
		float: left;
		margin-right: 10px;
		font-size: 1.2rem;
		&:not(:first-child){
			&:before{
			    content: "\f0a4";
			    font-family: FontAwesome;
			    margin-right: 10px;
		    }
			
		}
		
	}
}