@charset "utf-8";
.excerpt_box{
	clear: both;
	border: 1px solid #eee;
	padding: 5px;
	margin-bottom: 5px;
	.entry-header{
		border-bottom: 1px solid #eee;
		margin-bottom: 5px;
		.entry-title{
			font-size: 1.4rem;
		}
	}
}
.excerpt_box_wrap {
    display: block;
    clear: both;
    overflow: hidden;
    padding-bottom: 5px;
    
    .post-thumbnail{
	    width: 100px;
	    height: 100px;
	    display: inline-block;
    }
}
.excerpt-footer{
	border-top: 1px solid #eee;
	padding-top: 5px;
}