@charset "utf-8";

.title{
	position: relative;
	padding-bottom: .5rem;
	font-size: 2rem;
	border-bottom: 4px solid #ccc;
	
	&:first-letter{
		margin-right: .1rem;
		font-size: 2.4rem;
	}
	&:after{
		position: absolute;
		bottom: -4px;
		left: 0;
		z-index: 2;
		content: '';
		width: 20%;
		height: 4px;
		background-color: #599cff;
	}
}
.page-title{
	position: relative;
	font-size: 2.5rem;
	border-left: 5px solid #ccc;
	padding-left: 1rem;
	&:first-letter{
		margin-right: .1rem;
		font-size: 2.8rem;
		font-weight: 600;
	}
	&:after{
		position: absolute;
		bottom: 0;
		left: -.5rem;
		z-index: 2;
		content: '';
		width: 5px;
		height: 50%;
		background-color: #599cff;
	}
	
}
.entry-title{
	font-size: 2.5rem;
	margin: 0;
	&:first-letter{
		margin-right: .1rem;
		font-size: 2.8rem;
		font-weight: 600;
	}
}
.date-cat{
	text-align: right;
	font-size: 1.2rem;
}
.post-thumbnail {
    float: left;
    width: 150px;
    margin-right: 2rem;
}

//single-post-header
.post_header_image{
	display: block;
    width: 100%;
    height: 150px;
    background-size: 100%;
    background-position: center;
    margin-bottom: 1rem;
}

//caption
.wp-caption{
	width: 100% !important;
	overflow: hidden;
	
	a{
		display: block;
	}
}