@charset "utf-8";
$nav-base-color: #0085be;
$nav-hover-color: #019fe2;
$nav-line-color: #47c7fd;


nav#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
}
#menu * {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
#checksp1 {
    display: none;
}
.spmenu_label{
	width: 100%;
}
#menubtnsp {
    position: absolute;
    width: 100%;
    height: 4rem;
    background: $nav-base-color;
    z-index: 1000;
    top:0;
}
.menuicon1 span {
  position: absolute;
  width: 0.5rem;
  height: 0.08rem;
  top: 1.25rem;
  z-index: 9999;
  background: #FFFFFF;
}
.menuicon1 span:nth-of-type(1) {
  right: 0.4rem;
  -webkit-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menuicon1 span:nth-of-type(2) {
  right: 0.7rem;
  -webkit-transform: translateY(0rem) rotate(45deg);
  transform: translateY(0rem) rotate(45deg);
}
#spmenu {
}
#spmenu ul {
position: relative;
height: 0;
width: 100%;
margin-top: -20px;
list-style: none;
padding: 0;
}
#spmenu ul li {
height: 0rem;
width: 100%;
}
#spmenu ul li a {
padding-top: 1rem;
text-decoration: none;
color: #fff;
height: 0rem;
text-align: center;
font-size: 1.5rem;
background: #75b9d6;
border-top: #a4cdde solid 1px;
opacity: 0.94;
z-index: 9999;
display: block;
}
#spmenu ul li a:hover {
background: #666;
opacity: 0.97;
}
#spmenu ul li ul{
	position: relative;
}


.menuicon1a {
position: absolute;
width: 100%;
top: 1rem;
color: #FFFFFF;
font-size: 1.5rem;
text-align: center;
opacity: 1;
}

.menuicon1b {
position: absolute;
top: 2.5rem;
right: 0.95rem;
color: #FFFFFF;
opacity: 0;
font-size: 8px;
}

.menuicon2 span {
position: absolute;
right: 1.4rem;
width: 2.5rem;
height: 0.15rem;
background: #ffffff;
display: inline-block;
box-sizing: border-box;
}
.menuicon2 span:nth-of-type(1) {
top: 1.1rem;
}
.menuicon2 span:nth-of-type(2) {
top: 1.9rem;
opacity: 1;
}
.menuicon2 span:nth-of-type(3) {
top: 2.7rem;
}
.menuicon2 span:nth-of-type(4) {
height: 1.8rem;
width: 0.25rem;
top: 1.1rem;
right: 3.3rem;
background: $nav-base-color;
}
#checksp1:checked ~ label ul {
margin-top: 4rem;
}
#checksp1:checked ~ label ul li {
height: auto;
}
#checksp1:checked ~ label ul li ul {
height: auto;
margin-top:0;
}
#checksp1:checked ~ label ul li ul li{
	width: 80%;
	margin-left: 20%;
}
#checksp1:checked ~ label ul li a{
height: 4rem;
}

#checksp1:checked ~ label #menubtnsp .menuicon1b {
opacity: 1;
}
#checksp1:checked ~ label #menubtnsp .menuicon2 span:nth-of-type(1) {
-webkit-transform: translateY(0.3rem) rotate(-45deg);
transform: translateY(0.3rem) rotate(-45deg);
}
#checksp1:checked ~ label #menubtnsp .menuicon2 span:nth-of-type(2) {
-webkit-transform: translateY(-0.5rem) rotate(45deg);
transform: translateY(-0.5rem) rotate(45deg);
}
#checksp1:checked ~ label #menubtnsp .menuicon2 span:nth-of-type(3) {
top: 2.9rem;
opacity: 0;
}
#checksp1:checked ~ label #menubtnsp .menuicon2 span:nth-of-type(4) {
right: 5rem;
opacity: 0;
}