@charset "utf-8";
@import "compass";
@for $i from 0 through 20 {
	.mb#{$i * 5}{
		margin-bottom: #{$i * 5}px;
	}
	.mt#{$i * 5}{
		margin-top: #{$i * 5}px;
	}
	.pdlr#{$i * 5}{
		padding-left: #{$i * 5}px;
		padding-right: #{$i * 5}px;
	}
	.pdl#{$i * 5}{
		padding-left: #{$i * 5}px;
	}
	.pdr#{$i * 5}{
		padding-right: #{$i * 5}px;
	}	
	.ml#{$i * 5}{
		margin-left: #{$i * 5}px;
	}
	.mr#{$i * 5}{
		margin-right: #{$i * 5}px;
	}	
}

img {
	max-width: 100%;
	height: auto;
}

a:hover img {
	opacity: 0.7;
} 


.t-a-l {
text-align: left;
}
.t-a-c {
text-align: center;
}
.t-a-r {
text-align: right;
}
@mixin clearfix {
  overflow: hidden;
  @include has-layout;
}
.clf {
	@include clearfix;
}
.clb {
	clear: both;
	overflow: hidden;
}
.dblock {
	display: block;
}

.fleft{
	float: left;
}
.fright{
	float: right;
}

//iframe
.video-container {
	position: relative;
	padding-bottom: 75.25%;
	height: 0;
	overflow: hidden;
}

.video-container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
//googlemap
.map-container {
	position: relative;
	padding-bottom: 42.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	margin-bottom:20px;
	@media(max-width:$screen-md-max){padding-bottom: 58.25%;}
}

.map-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
//ページスクロール
#topcontrol{
	@media(max-width:$screen-sm-max){display: none;}
}
.mincho{
	font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}
//グリッドxs
@media(max-width:$screen-md-max){
	.row {
		margin-left: -5px;
		margin-right: -5px;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	    position: relative;
	    min-height: 1px;
	    padding-left: 5px;
	    padding-right: 5px;
	}
}
//テキスト折り返し禁止//
.nowrap{
	white-space: nowrap;
}