@charset "utf-8";

.nav-links{
	display: flex;
	a{
		&:hover{
			text-decoration: none;
			background-color: #fdffd5;
			transition:background .15s;
		}
	}
}
.nav-previous{
	padding-right: 0.2rem;
	width: 50%;
	a{
		background-color: #0096ff;
		display: flex;
		flex-wrap: wrap;
		color: #fff;
		padding: 1rem;
		margin: 0 auto 10px auto;
		&:hover{
			background-color: #00ccff;
			transition:background .15s;
		}
	}
}
.nav-next{
	padding-left: 0.2rem;
	width: 50%;
	a{
		background-color: #0096ff;
		display: flex;
		flex-wrap: wrap;
		color: #fff;
		padding: 1rem;
		margin: 0 auto 10px auto;
		&:hover{
			background-color: #00ccff;
			transition:background .15s;
		}
	}
}
span.nav-subtitle {
    display: block;
    width: 100%;
    text-align: center;
}
span.nav-title {
    display: block;
}


//カテゴリー
.post-navigation h2{
	font-size: 1.4rem;
	background-color: #eee;
	padding: 5px;
}