@charset "utf-8";
.side_container{
	background: #3da8d6;
	margin-top: 30px;
}
.content_side{
	
	h3{
		position: relative;
		font-size: 1.6rem;
		padding: 1rem 0 0.5rem 0;
		color: #fff;
		border-bottom: 1px solid #fff;

	}
	
	ul{
		list-style: none;
		padding: 0;
		li{
			margin-bottom: .5rem;
			a{
				position: relative;
				border: 1px solid #fff;
				display: block;
				padding:1rem 0 1rem 2.2rem;
				transition: background .2s;
				color: #fff;
				&:before{
					position: absolute;
					width: 14px;
					height: 14px;
					color: #fff;
				    content: "\f138";
				    font-family: FontAwesome;
				    left: .4rem;
			    }
			}
		}
	}
}