@charset "utf-8";
.fb_iframe_widget {
	line-height: 0.7;
	span{
		vertical-align: top !important;
	}
}

//デザイン01
/* シェア */
#share ul {
	margin:0 auto;
	padding: 0;
	list-style: none;
}
#share li {
	float:left;
	width:31.3%;
	margin:0 2% 2% 0;
}
#share li a {
	position:relative;
	display:block;
	padding:1em 0;
	color:#fff;
	font-size:88%;
	border-radius:3px;
	text-align:center;
	line-height: 22px;
	text-decoration: none;
	text-shadow:1px 1px 0 rgba(255,255,255,0.3);
}
#share li a:hover {
	-webkit-transform: translate3d(0px, 5px, 1px);
	-moz-transform: translate3d(0px, 5px, 1px);
	transform: translate3d(0px, 5px, 1px);
	box-shadow:none;
}

/* ツイッター */
#share .twitter a {
	background:#00acee;
	box-shadow:0 5px 0 #0092ca;
}
#share .twitter a:hover {
	background:#0092ca;
}

/* Facebook */
#share .facebook a {
	background:#3b5998;
	box-shadow:0 5px 0 #2c4373;
}
#share .facebook a:hover {
	background:#2c4373;
}

/* グーグル */
#share .googleplus a {
	background:#db4a39;
	box-shadow:0 5px 0 #ad3a2d;
}
#share .googleplus a:hover {
	background:#ad3a2d;
}